<% if user_signed_in? %>
  <%= render 'form' %>
<% end %>

<% @articles.each do |article| %>
  <div class="articleholder">
    <h5 class="date"><%= article.created_at.strftime('%A, %B %d, %Y') %></h5>
    <h3 class="title"><%= article.title %></h3>
    <div class="body">
      <%= article.body %></p>
    </div>

    <% if user_signed_in? %>
      <%= link_to "EDIT", edit_article_path(article) %>
    <% end %>
  </div>
<% end %>
