<div class="node">
  <div class="node-photo" <% if project.screenshot.file? %>style="background-image: url(<%= project.screenshot.url %>)" <% end %>>
    <div class="node-photo-cover">
      <div class="node-photo-content">
	<%= link_to "VIEW IT ON GITHUB", project.github_address, class: 'greg-link' %>
      </div>
    </div>
  </div>
  <div class="node-text">
    <h2><%= project.title %></h2>
    <hr/>
    <p><%= project.description %></p>

  <% if user_signed_in? %>
    <%= link_to "EDIT", edit_project_path(project) %>
    <%= link_to "DELETE", project_path(project),
      method: :delete,
      data: { confirm: "Are you sure you want to delete this?" } %>
  <% end %>

  </div>
</div>
