<footer class="footer">
  <div class="container-fluid footer-container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <%= link_to fa_icon('twitter').html_safe, 'https://twitter.com/greg_diamond29', class: 'btn social-icon' %>
        <%= link_to fa_icon('github').html_safe, 'https://github.com/diamond29', class: 'btn social-icon' %>
        <%= link_to fa_icon('linkedin-square').html_safe, 'https://www.linkedin.com/in/gregory-diamond-a6404596', class: 'btn social-icon' %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-center">
        <%= link_to "About This Site", 'about', class: 'btn' %>
        <%= mail_to 'gregdiamond29@gmail.com', 'Contact', class: 'btn' %>
      </div>
    </div>
    <div class="row copyright-row">
      <div class="col-sm-12 text-center">
        <span>© 2015 Gregory Diamond. All rights reserved.</span>
      </div>
    </div>
  </div>
</footer>
