<header class="navbar navbar-fixed-top greg-navbar">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-left">
        <li id="logo"><%= link_to "Greg Diamond", '/' %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Projects", projects_path %></li>
        <li><%= link_to "Github", 'https://github.com/diamond29' %></li>
        <% if user_signed_in? %>
          <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
